[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "NEREL-BIO"]
	path = NEREL-BIO
	url = https://github.com/nerel-ds/NEREL-BIO.git
[submodule "GutBrainIE_2026_Baseline"]
	path = GutBrainIE_2026_Baseline
	url = https://github.com/MMartinelli-hub/GutBrainIE_2026_Baseline.git
