[submodule "GutBrainIE_2026_Baseline"]
	path = GutBrainIE_2026_Baseline
	url = https://github.com/MMartinelli-hub/GutBrainIE_2026_Baseline.git
[submodule "beam-search/llama-cpp-python-git"]
	path = beam-search/llama-cpp-python-git
	url = https://github.com/Dakantz/llama-cpp-python.git
